.jumbotron{
    background-color: darkblue;
    color:white
}

footer{
    padding: 10px 10px 0 10px;
    background-color: lightblue;
    margin-top: 30px;
    margin-bottom:0px;
    
}

.card-hotel{
    flex:1 150px;
    padding: 2px, 5px, 2px, 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-reserva{
    width: 100%;
}